NET "DPLB0_PLB_MAddrAck" TPTHRU = "ppc405_0_MCYCLE_DPLB0";
NET "DPLB0_PLB_MTimeout" TPTHRU = "ppc405_0_MCYCLE_DPLB0";
NET "DPLB0_PLB_MRdDAck" TPTHRU = "ppc405_0_MCYCLE_DPLB0";
NET "DPLB0_PLB_MRdErr" TPTHRU = "ppc405_0_MCYCLE_DPLB0";
NET "DPLB0_PLB_MBusy" TPTHRU = "ppc405_0_MCYCLE_DPLB0";
NET "DPLB0_PLB_MRdWdAddr*" TPTHRU = "ppc405_0_MCYCLE_DPLB0";
NET "DPLB0_PLB_MSSize*" TPTHRU = "ppc405_0_MCYCLE_DPLB0";
NET "DPLB0_PLB_MRdDBus*" TPTHRU = "ppc405_0_MCYCLE_DPLB0";
NET "DPLB0_PLB_MWrErr" TPTHRU = "ppc405_0_MCYCLE_DPLB0";
NET "DPLB0_PLB_MWrDAck" TPTHRU = "ppc405_0_MCYCLE_DPLB0";
NET "DPLB0_M_wrDBus*" TPTHRU = "ppc405_0_MCYCLE_DPLB0";
INST "ppc405_0/*DPLB0_*/sample_cycle" TNM = "ppc405_0_sample_cycle_DPLB0";

NET "IPLB0_PLB_MAddrAck" TPTHRU = "ppc405_0_MCYCLE_IPLB0";
NET "IPLB0_PLB_MTimeout" TPTHRU = "ppc405_0_MCYCLE_IPLB0";
NET "IPLB0_PLB_MRdDAck" TPTHRU = "ppc405_0_MCYCLE_IPLB0";
NET "IPLB0_PLB_MRdErr" TPTHRU = "ppc405_0_MCYCLE_IPLB0";
NET "IPLB0_PLB_MBusy" TPTHRU = "ppc405_0_MCYCLE_IPLB0";
NET "IPLB0_PLB_MRdWdAddr*" TPTHRU = "ppc405_0_MCYCLE_IPLB0";
NET "IPLB0_PLB_MSSize*" TPTHRU = "ppc405_0_MCYCLE_IPLB0";
NET "IPLB0_PLB_MRdDBus*" TPTHRU = "ppc405_0_MCYCLE_IPLB0";
INST "ppc405_0/*IPLB0_*/sample_cycle" TNM = "ppc405_0_sample_cycle_IPLB0";

NET "DPLB1_PLB_MAddrAck" TPTHRU = "ppc405_0_MCYCLE_DPLB1";
NET "DPLB1_PLB_MTimeout" TPTHRU = "ppc405_0_MCYCLE_DPLB1";
NET "DPLB1_PLB_MRdDAck" TPTHRU = "ppc405_0_MCYCLE_DPLB1";
NET "DPLB1_PLB_MRdErr" TPTHRU = "ppc405_0_MCYCLE_DPLB1";
NET "DPLB1_PLB_MBusy" TPTHRU = "ppc405_0_MCYCLE_DPLB1";
NET "DPLB1_PLB_MRdWdAddr*" TPTHRU = "ppc405_0_MCYCLE_DPLB1";
NET "DPLB1_PLB_MSSize*" TPTHRU = "ppc405_0_MCYCLE_DPLB1";
NET "DPLB1_PLB_MRdDBus*" TPTHRU = "ppc405_0_MCYCLE_DPLB1";
NET "DPLB1_PLB_MWrErr" TPTHRU = "ppc405_0_MCYCLE_DPLB1";
NET "DPLB1_PLB_MWrDAck" TPTHRU = "ppc405_0_MCYCLE_DPLB1";
NET "DPLB1_M_wrDBus*" TPTHRU = "ppc405_0_MCYCLE_DPLB1";
INST "ppc405_0/*DPLB1_*/sample_cycle" TNM = "ppc405_0_sample_cycle_DPLB1";

NET "IPLB1_PLB_MAddrAck" TPTHRU = "ppc405_0_MCYCLE_IPLB1";
NET "IPLB1_PLB_MTimeout" TPTHRU = "ppc405_0_MCYCLE_IPLB1";
NET "IPLB1_PLB_MRdDAck" TPTHRU = "ppc405_0_MCYCLE_IPLB1";
NET "IPLB1_PLB_MRdErr" TPTHRU = "ppc405_0_MCYCLE_IPLB1";
NET "IPLB1_PLB_MBusy" TPTHRU = "ppc405_0_MCYCLE_IPLB1";
NET "IPLB1_PLB_MRdWdAddr*" TPTHRU = "ppc405_0_MCYCLE_IPLB1";
NET "IPLB1_PLB_MSSize*" TPTHRU = "ppc405_0_MCYCLE_IPLB1";
NET "IPLB1_PLB_MRdDBus*" TPTHRU = "ppc405_0_MCYCLE_IPLB1";
INST "ppc405_0/*IPLB1_*/sample_cycle" TNM = "ppc405_0_sample_cycle_IPLB1";

INST "ppc405_0/*" TNM = FFS "ppc405_0_WRAPPER";
INST "ppc405_0/*PPC405_ADV_i" TNM = "ppc405_0_WRAPPER";
INST "ppc405_0/*PPC405_ADV_i" TNM = "ppc405_0_PPC405";
TIMEGRP "ppc405_0_FABRIC" = FFS RAMS EXCEPT "ppc405_0_WRAPPER";
INST "ppc405_0/*PLBC405DCURDDACK_reg" TNM = "ppc405_0_DCURDDACK_REG";
NET "ppc405_0/*/adapter_cs_*" TPTHRU = "ppc405_0_ADAPTER_FSM_REG";
